h2{
    border-bottom: 1px solid #ccc;
    margin-top: 0px;
    padding-bottom: 5px;
}

h6{
    padding-left: 15px;
}

.list-group a.active{
    background-color: #81C784 !important;
    border-color: #81C784;
}

.img-module{
    width: 17px;
    margin-right: 5px;
}

.group-resources{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    max-width: 425px;
    height: 257px;
    margin-bottom: 10px;
    
}

.group-upload > input{
    margin-bottom: 10px !important;
    height: 40px !important;
}

.group-resources-items{
    overflow-y: auto;
}

.group-resources-items li{
    display: inline-block;
}

.group-resources-items{
    padding-left: 15px;
}

