<h2>Listado de cursos</h2>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline w-100">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" (keyup)="buscar(buscarTexto.value)" #buscarTexto>
        <button (click)="buscar(buscarTexto.value)" class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
    </form>
</nav>

<app-asignatura-resumen *ngFor="let course of courses" [asignaturaId]=course.id [asignatura]=course.fullname class="w-100"></app-asignatura-resumen>

<div class="row" *ngIf="courses.length == 0 && isloaded">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            no existen asignaturas.
        </div>

    </div>
</div>