<h2>Listado de asignaturas</h2>
<app-asignatura-resumen asignaturaId="1" asignatura="Calculo diferencial" numeroTareasPendientes="3" numeroNotificaciones="5"></app-asignatura-resumen>

<app-asignatura-resumen asignaturaId="2" asignatura="Programación basica" numeroTareasPendientes="2" numeroNotificaciones="4"></app-asignatura-resumen>

<app-asignatura-resumen asignaturaId="3" asignatura="Fisica I" numeroTareasPendientes="2" numeroNotificaciones="3"></app-asignatura-resumen>

<app-asignatura-resumen asignaturaId="4" asignatura="Quimica basica" numeroTareasPendientes="1" numeroNotificaciones="3"></app-asignatura-resumen>

<app-asignatura-resumen asignaturaId="5" asignatura="Comunicación I" numeroTareasPendientes="0" numeroNotificaciones="1"></app-asignatura-resumen>
