<h2>Listado de asignaturas</h2>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" (keyup.enter)="buscar(buscarTexto.value)" #buscarTexto>
        <button (click)="buscar(buscarTexto.value)" class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
    </form>
</nav>

<app-asignatura-resumen *ngFor="let asignatura of asignaturas" [asignaturaId]=asignatura.id [asignatura]=asignatura.nombre [numeroTareasPendientes]=asignatura.resumen.tareas_pendientes [numeroNotificaciones]=asignatura.resumen.notificaciones></app-asignatura-resumen>

<div class="row" *ngIf="asignaturas.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            no existen asignaturas.
        </div>

    </div>
</div>