<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title"><a [routerLink]="['/asignatura',asignaturaId]">{{ asignatura }}</a></h5>
    <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Button</a>-->
    <span class="tareasPendientes">Tareas Pendientes <span class="badge badge-primary">{{numeroTareasPendientes}}</span></span>
    <span class="notificacionesPendientes">Notificaciones <span class="badge badge-primary">{{numeroNotificaciones}}</span></span>
  </div>
</div>